:root {
  --title-font: Ubuntu, serif;
  --text-font: Ubuntu, serif;

  --background-color: #f4f2f1;

  --nav-font: 1.4rem "Source Sans Pro", Ubuntu, sans-serif;
  --nav-font-color: #323232;
  --nav-height: 64px;
  --nav-background: #eeeeeeaa;
  --header-background: #f4f2f1;
  --nav-hover-background: #9cdc54;
  --hint-color: #263238;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  font-family: var(--text-font);
  display: grid;
  grid-template-columns: 5vw 1fr 5vw;
  grid-template-areas:
    "header header  header"
    ".      main    ."
    "footer footer  footer";

  background-color: var(--background-color);

  overflow-x: hidded;
}

header {
  padding: 3px 10px 3px 5vw;
  grid-area: header;
  font: var(--nav-font);
  color: var(--nav-font-color);
  background-color: var(--header-background);

  display: flex;
  align-items: center;

  transform: translateY(0%);
  transition: transform 0.2s ease-in-out;
}

.away {
  transform: translateY(-100%);
  transition: transform 0.2s ease-in-out;
}

.sticking {
  position: sticky;
  top: 0;
  box-shadow: 4px 0px 8px black;
}

.flex {
  display: flex;
}

.nav-wrapper {
  flex-basis: 100%;
  height: var(--nav-height);
}

.logo-wrapper {
  height: var(--nav-height);
}

.primary-nav {
  position: fixed;
  inset: 0 0 0 30%;
  height: 100lvh;
  z-index: 100;
  transform: translate3d(0, 0, 0);

  display: flex;
  flex-direction: column;
  gap: clamp(0.5lvh, 0.5rem, 1lvh);

  padding: clamp(80px, 12svh, 100px) 2rem;

  background-color: var(--nav-background);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);

  transition: transform 300ms ease-in-out;
}

#nav-toggle {
  display: none;
}

.nav-toggle {
  margin-left: auto;
  z-index: 999;
  height: var(--nav-height);
  width: var(--nav-height);
}

.nav-toggle svg {
  fill: var(--nav-font-color);
}

.cross {
  position: absolute;
  top: 3px;
  right: 10px;
}

.nav-title {
  position: absolute;

  font-size: 1.8em;

  top: 1rem;
  left: 10px;
}

.nav-item {
  display: block;
  /* height: 100%; */
  border-radius: 5px;
  padding: 5px;

  transition: background-color 0.2s linear;
  transition: transform 0.3s ease-in-out;
}

.nav-item:hover {
  background-color: var(--nav-hover-background);
  transform: translate(2px, -5px);
  transition: background-color 0.2s linear;
  transition: transform 0.3s ease-in-out;
}

.nav-item a {
  display: block;
  width: 100%;
}

.nav-item a > span {
  display: block;
  font-weight: 900;
  color: #909090;
  /* width: 100%; */
}

.current {
  position: relative;
}
.current::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--hint-color);
}

.lang {
  margin-top: 5vh;
  font-size: 0.7em;
  height: auto;
}

main {
  grid-area: main;
  min-height: calc(100vh - var(--nav-height) - 6px);
}

section {
  min-height: 50vh;
}

.home {
  min-height: 100svh;
}

footer {
  grid-area: footer;
  min-height: calc(100vh - var(--nav-height) - 6px);
}

@media screen and (width <= 800px) {
  /* .current {
    display: flex;
  } */
  .current::after {
    right: 0;
    bottom: 0;
    height: 100%;
    width: 10px;
  }
  #nav-toggle:checked ~ nav .primary-nav {
    transform: translateX(0%);
    opacity: 100%;
    transition: opacity 0.3s ease-in-out;
  }
  #nav-toggle:checked ~ .menu {
    opacity: 0%;
    transition: opacity 0.3s ease-in-out;
  }
  #nav-toggle:not(:checked) ~ nav .primary-nav {
    transform: translateX(100%);
    opacity: 0%;
    transition: all 0.3s ease-in-out;
  }
  #nav-toggle:not(:checked) ~ .menu {
    opacity: 100%;
    transition: opacity 0.3s ease-in-out;
  }
}
@media screen and (width > 800px) {
  body {
    grid-template-columns: 10vw 1fr 10vw;
  }
  header {
    padding: 3px calc(3vw + 10px) 3px 3vw;
  }
  nav {
    line-height: var(--nav-height);
  }
  .nav-wrapper {
    justify-content: space-between;
    align-items: center;
  }
  .primary-nav {
    flex-grow: 1;
    flex-direction: row;
    justify-content: end;
    align-items: first baseline;
    gap: min(2vw, 20px);

    height: calc(0.7 * var(--nav-height));
    line-height: calc(0.7 * var(--nav-height));
    position: unset;
    transform: unset;
    padding: unset;
    background-color: unset;

    margin: 0 0 0 auto;

    font-size: 0.9em;
  }
  .nav-item {
    margin: 0;
  }

  .nav-item:hover {
    transform: translate(1px, -2px);
  }

  .nav-item a > span {
    display: inline;
    margin-right: 0.2rem;
    font-size: 0.8em;
  }

  .current::after {
    left: 0;
    bottom: -3px;
    height: 5px;
    width: 100%;
  }

  .nav-toggle {
    display: none;
  }

  .nav-title {
    display: none;
  }
  .menu {
    display: none;
  }
  .lang {
    font-size: 0.6em;
  }
}

@media screen and (width > 1000px) {
  body {
    grid-template-columns: 15vw 1fr 15vw;
  }
  header {
    padding: 3px calc(5vw + 10px) 3px 5vw;
  }
  .primary-nav {
    font-size: 1em;
  }
  .nav-item a > span {
    display: inline;
    margin-right: 0.25rem;
    font-size: 0.8em;
  }
  .lang {
    margin-left: 2vw;
    font-size: 0.7em;
  }
}
