:root {
  --title-font: "Source Sans Pro", Ubuntu, sans-serif;
  --text-font: Ubuntu, serif;

  --background-color: #f4f2f1;
  --font-color: #323232;
  --main-color: #9cdc54;
  --stress-color: #00b742;
  --accent-color: #263238;

  --nav-font: 1.4rem var(--title-font);
  --nav-font-color: #323232;
  --nav-height: 64px;
  --nav-background: #eeeeeeaa;
  --header-background: #f4f2f1;
  --nav-hover-background: #9cdc54;
  --hint-color: #263238;
  --nav-toggle-duration: 1s;

  --home-background: #9cdc54a0;

  --footer-seperation-color: #44444466;
  --footer-background: #76b82a;
  --footer-font: 1rem var(--title-font);
  --footer-title-color: #f4f2f1ee;
  --footer-text-color: #f4f2f1bb;
  --footer-padding-left: 1rem;

  --wechat-color: #7bb32e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(1em + 6px + var(--nav-height));
}

body {
  font-family: var(--text-font);
  color: var(--font-color);
  display: grid;
  grid-template-columns: 5vw 1fr 5vw;
  grid-template-areas:
    "header header  header"
    ".      main    ."
    "footer footer  footer";

  background-color: var(--background-color);
  overflow-x: hidden;
}

header {
  padding: 3px 10px 3px 5vw;
  grid-area: header;
  font: var(--nav-font);
  color: var(--nav-font-color);

  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;

  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease-in-out 0.1s;
}

.scrolling-down {
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-in-out 0.1s;
}

.scrolling-up {
  background-color: var(--header-background);
  box-shadow: 0 -2px 5px black;
}

.flex {
  display: flex;
}

.nav-wrapper {
  flex-basis: 100%;
  height: var(--nav-height);
}

.nav-wrapper .logo-wrapper {
  height: var(--nav-height);
}

.primary-nav {
  position: fixed;
  inset: 0 0 0 30%;
  height: 100lvh;
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.5rem;

  padding: 6rem 2rem;

  transition: transform 300ms ease-in-out;
}

#nav-toggle {
  display: none;
}

.nav-toggle {
  margin-left: auto;
  z-index: 999;
  height: var(--nav-height);
  width: var(--nav-height);
}

.nav-toggle svg {
  fill: var(--nav-font-color);
}

.nav-title {
  position: absolute;

  font-size: 1.8em;

  top: 1rem;
  left: 10px;
}

.nav-item {
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
  border-radius: 5px;
  padding: 5px;

  transition: background-color 0.2s linear;
  transition: transform 0.3s ease-in-out;
}

.nav-item:hover {
  background-color: var(--nav-hover-background);
  transform: translate(2px, -5px);
  transition: background-color 0.2s linear;
  transition: transform 0.3s ease-in-out;
}

.nav-item a {
  display: block;
  width: 100%;
}

.nav-item a > span {
  display: block;
  font-weight: 900;
  color: #909090;
  /* width: 100%; */
}

.current {
  position: relative;
}
.current::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--hint-color);
}

.lang {
  margin-top: 5rem;
  font-size: 0.7em;
  height: auto;
}

main {
  grid-area: main;
  min-height: calc(100vh - var(--nav-height) - 6px);
  row-gap: 3rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.home::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--home-background);
  inset: 0 0 50% 55%;

  z-index: -1;
}

.home::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--home-background);
  inset: 80% 25% 5% 0;

  z-index: -1;
}
.home {
  padding: 3rem 0;

  height: calc(100svh - var(--nav-height) - 6px);
}

.home h1 {
  font-size: 2em;
}

.name {
  color: var(--stress-color);
  font-size: 1.4em;
  font-weight: 700;
}
.home-intro {
  grid-template-areas: "intro-section";
  padding: 3rem 0;
  display: grid;
}

.home-intro-section {
  grid-area: intro-section;
  position: relative;
  transition: all 1s ease-in-out;
}

.home-intro-section:not([data-display="true"]) {
  opacity: 0;
  transform: scale(90%) translateY(5%);
}

.home-intro-img {
  height: 100%;
}

.home-intro-img * {
  aspect-ratio: 5 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-intro-text span {
  font-size: 2.4em;
  color: var(--stress-color);
}

@media screen and (max-width: 800px) {
  .home {
    display: grid;
    grid-template-rows: auto 1fr;
  }
  .home-intro-text {
    position: absolute;
    inset: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--font-color);
    font-size: 1.4em;
    font-weight: 900;
  }
  .home-intro-text h2 {
    position: absolute;
    inset: 3rem 2rem;
    text-shadow: #fff 0px 0px 5px;
  }
}

@media screen and (min-width: 800px) {
  .home {
    /* position: relative; */
    padding: 3rem 0;
  }
  .home-intro {
    height: 100%;
  }
  .home-intro-section {
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 100%;
  }
}

footer {
  grid-area: footer;
  position: relative;
  z-index: 10;
  background-color: var(--footer-background);
  font: var(--footer-font);
  color: var(--footer-text-color);
  padding: 5rem 2rem;

  /* background-color: red; */
}

/* .footer-wrapper::before {
  content: "";
  position: absolute;
  display: block;
  width: 96%;
  height: 2px;
  border-radius: 1.5px;
  top: 0;
  left: 2%;
  background-color: var(--footer-seperation-color);
} */

.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "comment"
    "contract"
    "footnote";
  gap: 2rem;
}

.footer-wrapper h5 {
  padding-block: 0.3rem;
  font-size: 1.4em;
  color: var(--footer-title-color);
}

.footer-wrapper a {
  text-decoration-color: var(--footer-text-color);
  text-decoration: underline;
  text-underline-offset: 5px;
}

.footer-wrapper a:hover {
  text-decoration: none;
  font-weight: bold;
}

.footer-comment {
  grid-area: comment;
}

.footer-comment > div {
  padding-left: var(--footer-padding-left);
}

.footer-contact {
  grid-area: contract;
}

.contact-information {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 0 0 var(--footer-padding-left);
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-footnote {
  grid-area: footnote;
}

.footer-footnote div {
  margin-top: 1rem;
}

.footer-footnote strong {
  font-size: 1.2em;
}

@media screen and (max-width: 800px) {
  /* .current {
    display: flex;
  } */
  .current::after {
    right: 0;
    bottom: 0;
    height: 100%;
    width: 10px;
  }
  .primary-nav {
    background-color: var(--nav-background);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
  }

  .nav-toggle {
    position: absolute;
    right: 2rem;
  }
  #nav-toggle:checked ~ nav .primary-nav {
    transform: translate3d(0, 0, 0);
    opacity: 100%;
    transition: opacity 0.3s ease-in-out;
  }
  #nav-toggle:not(:checked) ~ nav .primary-nav {
    transform: translate3d(100%, 0, 0);
    opacity: 0%;
    transition: all 0.3s ease-in-out;
  }

  #nav-toggle:not(:checked) ~ .menu {
    opacity: 100%;
    transition: opacity 0.3s ease-in-out 0.15s;
  }
  #nav-toggle:checked ~ .menu {
    opacity: 0%;
    transition: opacity 0.3s ease-in-out;
  }
  #nav-toggle:not(:checked) ~ .cross {
    opacity: 0%;
    transition: opacity 0.3s ease-in-out;
  }
  #nav-toggle:checked ~ .cross {
    opacity: 100%;
    transition: opacity 0.3s ease-in-out 0.15s;
  }
}

@media screen and (min-width: 800px) {
  body {
    grid-template-columns: 10vw 1fr 10vw;
  }
  header {
    padding: 3px calc(3vw + 10px) 3px 3vw;
  }
  nav {
    line-height: var(--nav-height);
  }
  .nav-wrapper {
    justify-content: space-between;
    align-items: center;
  }
  .primary-nav {
    flex-grow: 1;
    flex-direction: row;
    justify-content: end;
    align-items: first baseline;
    gap: min(2vw, 20px);

    height: calc(0.7 * var(--nav-height));
    line-height: calc(0.7 * var(--nav-height));
    position: unset;
    transform: unset;
    padding: unset;
    background-color: unset;

    margin: 0 0 0 auto;

    font-size: 0.9em;
  }
  .nav-item {
    margin: 0;
  }

  .nav-item:hover {
    transform: translate(1px, -2px);
  }

  .nav-item a > span {
    display: inline;
    margin-right: 0.2rem;
    font-size: 0.8em;
  }

  .current::after {
    left: 0;
    bottom: -1px;
    height: 5px;
    width: 100%;
  }

  .nav-toggle {
    display: none;
  }

  .nav-title {
    display: none;
  }
  .menu {
    display: none;
  }
  .lang {
    font-size: 0.6em;
  }
}

@media screen and (min-width: 1000px) {
  body {
    grid-template-columns: 15vw 1fr 15vw;
  }
  header {
    padding: 3px calc(5vw + 10px) 3px 5vw;
  }
  .primary-nav {
    font-size: 1em;
  }
  .nav-item a > span {
    display: inline;
    margin-right: 0.25rem;
    font-size: 0.8em;
  }
  .lang {
    margin-left: 2vw;
    font-size: 0.7em;
  }
}
